In [3]:
import pandas as pd
U=globals()
data_1=pd.DataFrame(columns=['ID','残差'])
data_2=pd.DataFrame(columns=['ID','残差'])
for i in range(5):
    data_1=pd.concat([data_1,pd.read_excel(f'Q22填表答案_单值结果_{i}.0.xlsx')])
    data_2=pd.concat([data_1,pd.read_excel(f'Q22填表答案_向量结果_{i}.0.xlsx')])
datasorted_1 = data_1.sort_values('ID')
datasorted_2 = data_2.sort_values('ID')

datasorted_1.to_excel('Q22填表答案_单值结果.xlsx',index=False)
datasorted_2.to_excel('Q22填表答案_向量结果.xlsx',index=False)

/tmp/ipykernel_5275/2468000219.py:6: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data_1=pd.concat([data_1,pd.read_excel(f'Q22填表答案_单值结果_{i}.0.xlsx')])