In [1]:
import re
import math
import warnings
import tqdm
import json
import matplotlib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import optimize


warnings.filterwarnings("ignore")

/root/miniconda3/envs/jupyter-env/lib/python3.11/site-packages/scipy/__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.26.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [5]:
data1 = pd.read_excel('2c治疗方案.xlsx') # 治疗方案
data2 = pd.read_excel('2a数据_已替换时间戳_已矫正.xlsx') # 水肿数据

In [7]:
data1

         ID  脑室引流  止血治疗  降颅压治疗  降压治疗  镇静、镇痛治疗  止吐护胃  营养神经
0    sub001     0     1      1     1        1     1     1
1    sub002     0     1      1     1        0     1     1
2    sub003     0     1      1     1        1     1     1
3    sub004     0     1      1     1        0     0     0
4    sub005     0     1      1     0        0     1     1
..      ...   ...   ...    ...   ...      ...   ...   ...
155  sub156     0     1      1     1        0     1     1
156  sub157     1     0      1     1        1     1     1
157  sub158     0     1      1     1        1     1     1
158  sub159     0     1      1     1        1     1     1
159  sub160     1     1      1     1        1     1     1

[160 rows x 8 columns]

In [6]:
data2

,ID,发病到首次影像检查时间间隔,入院首次影像检查流水号,ED_volume.0,随访1流水号,ED_volume.1,随访2流水号,ED_volume.2,随访3流水号,ED_volume.3,随访4流水号,ED_volume.4,随访5流水号,ED_volume.5,随访6流水号,ED_volume.6,随访7流水号,ED_volume.7,随访8流水号,ED_volume.8
0,sub001,2.5,9000,48919,29766.0,57898.0,475590.0,81747.0,935055.0,107793.0,1531938.0,126558.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,sub002,3.0,10800,23526,53724.0,23390.0,249199.0,28415.0,1612859.0,34868.0,4029091.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,sub003,2.0,7200,32621,34281.0,41292.0,142545.0,49767.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,sub004,1.0,3600,22191,61107.0,18956.0,301843.0,9540.0,819004.0,5204.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,sub005,5.0,18000,47392,95283.0,23182.0,352595.0,12898.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,sub156,5.5,19800,8968,89575.0,12860.0,452217.0,13716.0,1055942.0,12709.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,sub157,0.5,1800,409,4920.0,3742.0,25620.0,53311.0,72240.0,29545.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,sub158,2.8,10080,17948,66180.0,21099.0,256680.0,44069.0,1111140.0,64243.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,sub159,3.0,10800,14430,95520.0,19019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,sub160,4.0,14400,18622,62940.0,28683.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN