In [1]:
import pandas as pd
data_HM=pd.read_excel('1a数据_已替换时间戳_已矫正.xlsx')
data_ED=pd.read_excel('2a数据_已替换时间戳_已矫正.xlsx')
data_HM,data_ED

(     入院首次影像检查流水号  HM_volume   随访1流水号  HM_volume.1    随访2流水号  HM_volume.2  \
 0           9000      69714  29766.0      74902.0  475590.0      70952.0
 1          10800      47500  53724.0      52271.0  249199.0      47748.0
 2           7200      86396  34281.0     106042.0  142545.0     103263.0
 3           3600      45498  61107.0      39877.0  301843.0      16622.0
 4          18000      14832  95283.0      24472.0  352595.0      25477.0
 ..           ...        ...      ...          ...       ...          ...
 155        19800      32559  89575.0      35138.0  452217.0      34241.0
 156         1800      18150   4920.0      37650.0   25620.0     140688.0
 157        10080      27969  66180.0      27071.0  256680.0      24119.0
 158        10800      53154  95520.0     126642.0       NaN          NaN
 159        14400      49019  62940.0     100470.0       NaN          NaN

         随访3流水号  HM_volume.3     随访4流水号  HM_volume.4  随访5流水号  HM_volume.5  \
 0     935055.0      62831.0  1531938.0      44029.0     NaN          NaN
 1    1612859.0      13055.0  4029091.0         20.0     NaN          NaN
 2          NaN          NaN        NaN          NaN     NaN          NaN
 3     819004.0       8441.0        NaN          NaN     NaN          NaN
 4          NaN          NaN        NaN          NaN     NaN          NaN
 ..         ...          ...        ...          ...     ...          ...
 155  1055942.0      14377.0        NaN          NaN     NaN          NaN
 156    72240.0     123926.0        NaN          NaN     NaN          NaN
 157  1111140.0       3647.0        NaN          NaN     NaN          NaN
 158        NaN          NaN        NaN          NaN     NaN          NaN
 159        NaN          NaN        NaN          NaN     NaN          NaN

      随访6流水号  HM_volume.6  随访7流水号  HM_volume.7  随访8流水号  HM_volume.8      ID
 0       NaN          NaN     NaN          NaN     NaN          NaN  sub001
 1       NaN          NaN     NaN          NaN     NaN          NaN  sub002
 2       NaN          NaN     NaN          NaN     NaN          NaN  sub003
 3       NaN          NaN     NaN          NaN     NaN          NaN  sub004
 4       NaN          NaN     NaN          NaN     NaN          NaN  sub005
 ..      ...          ...     ...          ...     ...          ...     ...
 155     NaN          NaN     NaN          NaN     NaN          NaN  sub156
 156     NaN          NaN     NaN          NaN     NaN          NaN  sub157
 157     NaN          NaN     NaN          NaN     NaN          NaN  sub158
 158     NaN          NaN     NaN          NaN     NaN          NaN  sub159
 159     NaN          NaN     NaN          NaN     NaN          NaN  sub160

 [160 rows x 19 columns],
          ID  发病到首次影像检查时间间隔  入院首次影像检查流水号  ED_volume.0   随访1流水号  ED_volume.1  \
 0    sub001            2.5         9000        48919  29766.0      57898.0
 1    sub002            3.0        10800        23526  53724.0      23390.0
 2    sub003            2.0         7200        32621  34281.0      41292.0
 3    sub004            1.0         3600        22191  61107.0      18956.0
 4    sub005            5.0        18000        47392  95283.0      23182.0
 ..      ...            ...          ...          ...      ...          ...
 155  sub156            5.5        19800         8968  89575.0      12860.0
 156  sub157            0.5         1800          409   4920.0       3742.0
 157  sub158            2.8        10080        17948  66180.0      21099.0
 158  sub159            3.0        10800        14430  95520.0      19019.0
 159  sub160            4.0        14400        18622  62940.0      28683.0

        随访2流水号  ED_volume.2     随访3流水号  ED_volume.3     随访4流水号  ED_volume.4  \
 0    475590.0      81747.0   935055.0     107793.0  1531938.0     126558.0
 1    249199.0      28415.0  1612859.0      34868.0  4029091.0          0.0
 2    142545.0      49767.0        NaN          NaN        NaN          NaN
 3    301843.0       9540.0   819004.0       5204.0        NaN          NaN
 4    352595.0      12898.0        NaN          NaN        NaN          NaN
 ..        ...          ...        ...          ...        ...          ...
 155  452217.0      13716.0  1055942.0      12709.0        NaN          NaN
 156   25620.0      53311.0    72240.0      29545.0        NaN          NaN
 157  256680.0      44069.0  1111140.0      64243.0        NaN          NaN
 158       NaN          NaN        NaN          NaN        NaN          NaN
 159       NaN          NaN        NaN          NaN        NaN          NaN

      随访5流水号  ED_volume.5  随访6流水号  ED_volume.6  随访7流水号  ED_volume.7  随访8流水号  \
 0       NaN          NaN     NaN          NaN     NaN          NaN     NaN
 1       NaN          NaN     NaN          NaN     NaN          NaN     NaN
 2       NaN          NaN     NaN          NaN     NaN          NaN     NaN
 3       NaN          NaN     NaN          NaN     NaN          NaN     NaN
 4       NaN          NaN     NaN          NaN     NaN          NaN     NaN
 ..      ...          ...     ...          ...     ...          ...     ...
 155     NaN          NaN     NaN          NaN     NaN          NaN     NaN
 156     NaN          NaN     NaN          NaN     NaN          NaN     NaN
 157     NaN          NaN     NaN          NaN     NaN          NaN     NaN
 158     NaN          NaN     NaN          NaN     NaN          NaN     NaN
 159     NaN          NaN     NaN          NaN     NaN          NaN     NaN

      ED_volume.8
 0            NaN
 1            NaN
 2            NaN
 3            NaN
 4            NaN
 ..           ...
 155          NaN
 156          NaN
 157          NaN
 158          NaN
 159          NaN

 [160 rows x 20 columns])