In [11]:
import re
import math
import warnings
import tqdm
import matplotlib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.optimize import fsolve
from sympy import symbols, Eq, solve
from matplotlib.pyplot import MultipleLocator
warnings.filterwarnings("ignore")


%matplotlib inline
plt.rcParams['font.sans-serif'] = ['SimHei'] 
plt.rcParams['axes.unicode_minus'] = False

In [12]:
data1=pd.read_excel('表1-患者列表及临床信息.xlsx')
data2=pd.read_excel('表2-患者影像信息血肿及水肿的体积及位置.xlsx')
data3=pd.read_excel('表3-患者影像信息血肿及水肿的形状及灰度分布.xlsx')
data4=pd.read_excel('表4-答案文件.xlsx')
data5=pd.read_excel('./q12/2b聚类数据.xlsx')

data1.rename(columns={data1.columns[0]: "ID"}, inplace=True)
data2.rename(columns={data2.columns[0]: "ID"}, inplace=True)

data_f_1=pd.read_excel('附表1-检索表格-流水号vs时间.xlsx')
data_f_time=pd.read_excel('时间点.xlsx')

In [13]:
data5

         ID  年龄 性别  脑出血前mRS评分  高血压病史  卒中病史  糖尿病史  房颤史  冠心病史  吸烟史  饮酒史       血压
0    sub001  43  女          0      0     0     0    0     0    0    0   180/90
1    sub002  58  男          0      1     0     0    0     0    0    0  199/120
2    sub003  78  男          0      1     0     0    0     0    0    0  199/120
3    sub004  70  男          2      1     1     0    0     0    0    0   186/99
4    sub005  51  男          0      0     0     0    0     0    0    0   135/92
..      ...  .. ..        ...    ...   ...   ...  ...   ...  ...  ...      ...
155  sub156  87  女          0      1     0     0    0     1    0    0  202/100
156  sub157  52  男          2      1     1     0    0     0    1    0  180/110
157  sub158  57  男          0      1     0     0    0     0    0    0  233/135
158  sub159  47  男          0      1     0     0    0     0    1    1  183/122
159  sub160  80  女          0      1     0     1    0     0    0    0   208/95

[160 rows x 12 columns]

In [14]:
data5

         ID  年龄 性别  脑出血前mRS评分  高血压病史  卒中病史  糖尿病史  房颤史  冠心病史  吸烟史  饮酒史       血压
0    sub001  43  女          0      0     0     0    0     0    0    0   180/90
1    sub002  58  男          0      1     0     0    0     0    0    0  199/120
2    sub003  78  男          0      1     0     0    0     0    0    0  199/120
3    sub004  70  男          2      1     1     0    0     0    0    0   186/99
4    sub005  51  男          0      0     0     0    0     0    0    0   135/92
..      ...  .. ..        ...    ...   ...   ...  ...   ...  ...  ...      ...
155  sub156  87  女          0      1     0     0    0     1    0    0  202/100
156  sub157  52  男          2      1     1     0    0     0    1    0  180/110
157  sub158  57  男          0      1     0     0    0     0    0    0  233/135
158  sub159  47  男          0      1     0     0    0     0    1    1  183/122
159  sub160  80  女          0      1     0     1    0     0    0    0   208/95

[160 rows x 12 columns]